body {
  --header-height: 70px;
  --footer-height: 75px;
}

/* #region Header */

.header {
  background-color: #000dff; 

  height: var(--header-height);
  line-height: var(--header-height);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-between;
  gap: 10px
}

.nav__link {
  box-sizing: border-box;
  text-decoration: none;
  color: azure;
  display: inline-block;
  font-size: 18px;
  padding: 0 3vw;
}

.nav__link:hover {
  background-color: #0044ee;
}

/* #endregion*/

/* #region StatueCards */
.main {
  min-width: 670px;
  margin: 20px auto;
  max-width: 1200px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  border-radius: 10px;
  background-color: black;
  padding: 40px;
  padding-top: 0;
}

.title {
  text-align: center;
  padding: 35px 0;
}

.cards__container {
  gap: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  box-sizing: border-box;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
  height: 600px;
  
}

.cardholder{
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  transition-duration: .2s;
}

.card__apollo {
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}

.content{
  position: absolute;
/*   left: 50%;
  bottom: 1px;
  transform: translate(-50%, -50%); */
  bottom: 15px;
  right: 15px;
  font-size: 15px;
  font-weight: 400;
  transition: .2s;
  background-color: #000dff75;
  border-radius: 11px;
  padding: 5px 10px;
}

.cardholder .card__img{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .3s;
}

.cardholder:hover {
  outline: 5px double #000dff;
  outline-offset: -7px;
  .content {
    outline: 2px solid #000dff;
  }
}

.cardholder .card__img:hover {
  background-position: 0 55%;
}

.cardholder.card__apollo .card__img{
  background-image: url(imgs/appolo.jpg);
}

.cardholder.card__zeus .card__img{
  background-image: url(imgs/zeus.jpg);
}

.cardholder.card__ares .card__img{
  background-image: url(imgs/ares.jpg);
}

.cardholder.card__venus .card__img{
  background-image: url(imgs/venus.jpg);
}

.cardholder.card__aurelius .card__img{
  background-image: url(imgs/aurelius.jpg);
}

/* #endregion */

.subtitle {
  border-top: 2px solid #0044ee;
  padding: 20px;
  margin-bottom: 0;
}

.info__wrapper {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  gap: 30px;
  max-width: 93%;
  margin: 0 auto;
}

.person__img {
  min-width: 250px;
  border-radius: 15px;
  transition: .3s;
}

.person__img:hover {
  filter:contrast(120%);
  outline: 3px solid #000dff;
  outline-offset: -7px;
}

.person__desc {
  border-left: 5px solid #0043ee54;
  padding: 0;
  padding-left: 25px;
  transition: .1s;
  font-weight: 100;
  min-width: 250px;
}

.person__desc:hover {
  border-left: 5px solid #0043ee;
}

.back__link {
  display: inline-block;
  margin: 10px;
  transition: .3s;
  line-height: 1.5;
  padding: 0 5px;
}

.back__link:hover {
  background-color: #0043ee;
  padding-right: 60px;
}

.grid__info__wrapper {
  display: grid;
  gap:20px;
  grid-template-columns: 1fr 2.5fr;
  margin-bottom: 20px;
  max-width: 93%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.zeus-card {
  min-width: 100px;
  min-height: 200px;
  border-radius: 15px;
  transition: .3s;
}

.zeus__info .person__desc {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
}

 .grid__info__wrapper div:nth-child(1) {
  background-image: url(imgs/zeus__info1.jpg);
  background-size: cover;
  background-position: center;
  
 }

 .grid__info__wrapper div:nth-child(2) {
  background-image: url(imgs/zeus__info2.jpg);
  background-size: cover;
  background-position: center;
 }

.zeus-card:hover {
  filter:contrast(120%);
  outline: 3px solid #000dff;
  outline-offset: -7px;
}

.ares__info .person__img {
  min-height: 250px;
  background: url(imgs/ares_info.jpg) center bottom no-repeat;
  background-size: cover;
}

.apollo__info .person__img {
  min-height: 250px;
  background: url(imgs/apollo.webp) center no-repeat;
  background-size: cover;
}

.venus__info .person__img {
  min-height: 200px;
  background: url(imgs/venus__info.jpg) center top no-repeat;
  background-size: cover;
}

.aurelius__info .person__img {
  min-height: 250px;
  background: url(imgs/aurelius_info.jpg) center top no-repeat;
  background-size: cover;
}

.footer {
  font-weight: 400;
  font-size: 15px;
  line-height: var(--footer-height);
}

.footer p {
  text-align: center;
  color: #3a3a3a;
}